//! **************************************************************************
// Written by: Map P.20131013 on Wed Nov 29 11:09:39 2017
//! **************************************************************************

SCHEMATIC START;
COMP "Led<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "Led<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "Led<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "Led<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "Led<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "enable" LOCATE = SITE "B8" LEVEL 1;
COMP "SDA" LOCATE = SITE "F10" LEVEL 1;
COMP "SCL" LOCATE = SITE "G11" LEVEL 1;
COMP "Led<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "analysis_clk" LOCATE = SITE "F11" LEVEL 1;
COMP "Led<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "Led<2>" LOCATE = SITE "U15" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "slwclk" BEL "clk_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

